<div class="container">
    <div class="chat-container well" style="margin-top: 2em;">
        <ul id="chat-messages">
            <li> Welcome to the chat </li>
        </ul>
    </div>
    <div class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
        <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="send">Send</button>
        </span>
        </div>
</div>
