<div class="container">
    <div class="chat-container well" style="margin-top: 2em;">
        <ul id="chat-messages">
            <li> Welcome to the chat </li>
        </ul>
    </div>
    <form id="send-form" class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
        <span class="input-group-btn">
            <button action="submit" class="btn btn-warning btn-sm" id="send">Send</button>
        </span>
    </form>
</div>
<script src="/javascript/socket.io.min.js"></script>
