<div class="jumbotron text-center">
    <h1>Welcome to</h1>
    <h1>{{title}}</h1>
    <div class="container">
        <h2 class="inline">I am a
            <span>
                <button type="button" class="btn btn-primary btn-md is-gender">Male</button>
                <button type="button" class="btn btn-primary btn-md is-gender">Female</button>
                <button type="button" class="btn btn-primary btn-md is-gender">Other</button>
            </span>
        </h2>
    </div>
</div>
<div class="container-fluid text-center" id="preferences">
    <h2>I am interested in
        <span>
            <button type="button" class="btn btn-primary btn-md want-gender">Men</button>
            <button type="button" class="btn btn-primary btn-md want-gender">Women</button>
            <button type="button" class="btn btn-primary btn-md want-gender">Both</button>
        </span>
    <h2>
</div>
<div class="container-fluid text-center" id="activities">
    <h2>I am willing to perform
        <span>
            <button type="button" class="btn btn-primary btn-md want-gender">activity 1</button>
            <button type="button" class="btn btn-primary btn-md want-gender">activity 2</button>
            <button type="button" class="btn btn-primary btn-md want-gender">activity 3</button>
        </span>
    <h2>
    <h2>I am willing to recieve
        <span>
            <button type="button" class="btn btn-primary btn-md want-gender">activity 1</button>
            <button type="button" class="btn btn-primary btn-md want-gender">activity 2</button>
            <button type="button" class="btn btn-primary btn-md want-gender">activity 3</button>
        </span>
    <h2>
</div>
