<!-- Main content div -->
<div class="container-fluid" id="background-holder">

    <!--
        Webapp is organized into slides. Each slide is a discrete container that
        holds everything for that slide. Containers are usually set to the max
        height of the viewpoint (e.g. height: 100vh).

        The first slide is visible as it is the landing page, however subsequent
        slides are collapsed. They are shown interactively
        through javascript
    -->

    <!-- Begin first slide. Used as the landing page -->
    <div class="slide" id="slide01">
            <!-- First row displays the Hookups @ UWC Changshu China logo -->
            <div class="row">
                <div class="col-xs-16 text-center" id="logo-container">
                    <h2 class="subtitle">Welcome to</h2>
                    <h1 id="main-title">Hookups💋</h1>
                    <h2 class="subtitle">at UWC Changshu China</h2>
                </div>
            </div>

            <!-- Second row contains the actual prompts for gender selection -->
            <div class="row">
                <!-- Begins a centered envelope that contains the prompts -->
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 envelope" id="envelope01">

                    <!-- Gender selection prompt and buttons -->
                    <div class="row">
                        <!-- Gender selection prompt -->
                        <div class="col-md-4 col-xs-4">
                            <h2 class="text-right prompt-text" id="self-gender">
                                I am a
                            </h2>
                        </div>
                        <!-- Gender selection buttons -->
                        <div class="col-md-8 col-xs-8">
                            <h2 class="text-left" id="self-gender-buttons">
                                <a class="btn btn-default btn-md is-gender" id="man" href="#" role="button">👨 man</a>
                                <a class="btn btn-default btn-md is-gender" id="woman" href="#" role="button">👩 woman</a>
                                <a class="btn btn-default btn-md is-gender" id="other" href="#" role="button">😎 other</a>
                            </h2>
                        </div>
                    </div>

                    <!-- Romance selection prompt and buttons -->
                    <div class="row collapse" id="romance-selection">
                        <!-- Romance selection prompt -->
                        <div class="col-md-6 col-xs-6">
                            <h2 class="text-right prompt-text">
                                I am looking for
                            </h2>
                        </div>

                        <!-- Romance selection buttons -->
                        <div class="col-md-6 col-xs-6">
                            <h2 class="text-left">
                                <a class="btn btn-default btn-md is-looking-for" id="some-fun" href="#" role="button">🌶️ some fun</a>
                                <a class="btn btn-default btn-md is-looking-for" id="romance" href="#" role="button">🌹 romance</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- End of first centering column in selection slide -->
            </div>

        <!-- Information links to the FAQ -->
        <div class="row">
            <div class="col-xs-16 text-center" id="footer">
                <a href="information/#about">About us</a>
                <a href="information/#FAQ">FAQ</a>
                <a href="information/#confused">Confused?</a>
                <a href="information/#offended">Offended?</a>
            </div>
        </div>
    </div>

    <!-- Beginning of second slide, to select the gender desired -->
    <div class="container slide collapse" id="slide02">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 envelope" id="envelope02">

                <!-- Beginning prompt -->
                <h2 class="text-center prompt-text">
                    I am looking for
                    <span id="want-gender-a" style="visibility: visible">a</span>
                </h2>

                <!-- Gender preference selection -->
                <h2 class="text-center prompt-text" id="gender-preference">
                    <a class="btn btn-default btn-md want-gender" id="male" href="#" role="button">🍆 male</a>
                    <a class="btn btn-default btn-md want-gender" id="female" href="#" role="button">🍑 female</a>
                    <a class="btn btn-default btn-md want-gender" id="any" href="#" role="button">🍭 any</a>
                    partner<span class="collapse" id="want-gender-comma">,</span>
                </h2>

                <!-- Sexual preference selection -->
                <h2 class="text-center prompt-text collapse" id="sexual-preference">
                    who I can
                    <a class="btn btn-default btn-md activity" href="#" role="button" id="make_out">💋 make out</a>
                    <a class="btn btn-default btn-md activity" href="#" role="button" id="eat">👅 eat</a>
                    <a class="btn btn-default btn-md activity" href="#" role="button" id="fuck">💦 fuck</a>.
                </h2>
            </div>
            <div class="row">
                <!-- An alert shows up here in subsequent presses, telling users that
                     their gender selection has been updated. Hence, the placeholder -->
                <div class="col-sm-4 col-sm-offset-4" id="want-confirm-placeholder"></div>
            </div>

            <!-- Prompts the user that multiple choices can be selected -->
            <div class="row">
                <div class="col-xs-16 text-center collapse" id="more-activities-hint">
                    <p class="hints">
                        <span class="glyphicon glyphicon-question-sign"  aria-hidden="true"></span>
                        <strong>Hint:</strong> Multiple 'activities' can be selected
                    </p>
                </div>
            </div>
        </div>

        <!-- Search button -->
        <div class="row collapse" id="search-prompt">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 envelope" id="envelope03">
                <h2 class="text-center prompt-text">
                    Does anyone want to hook up?
                </h2>
                <h2 class="text-center">
                    <a class="btn btn-danger btn-md" id="search-button" href="#" role="button">Let's find out 🔍</a>
                </h2>
                <p class="text-center">
                    <a href="/" id="reset-choices">Reset choices</a>
                </p>
            </div>
        </div>

        <!-- Prompts the user that at least a choice has to be selected -->
        <div class="row">
            <div class="col-xs-16 text-center collapse" id="missing-activity-hint">
                <p class="hints">
                    <span class="glyphicon glyphicon-exclamation-sign	Try it"  aria-hidden="true"></span>
                    <strong>Note:</strong> You must select at least one 'activity'!
                </p>
            </div>
        </div>
    </div>

    <!-- Beginning of third slide, for confirmation -->
    <div class="slide collapse" id="slide03">

        <!-- Loading screen when waiting for a match to be made-->
        <div class="row" id="loading-screen">

            <!-- Column centers the loading messages -->
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="row" id="loading01">
                    <h2 class="subtitle loading">
                        Searching for matches
                    </h2>
                </div>
                <div class="row collapse" id="loading02">
                    <h2 class="subtitle">
                        Don't worry, you'll get
                    </h2>
                </div>
                <div class="row collapse" id="loading03">
                    <h1 id="main-title">Hookups💋</h1>
                </div>
                <div class="row collapse" id="loading04">
                    <h2 class="subtitle">
                        in no time!
                    </h2>
                </div>
            </div>

        </div>

        <!-- Chat message well where the messages come from -->
        <div class="chat-container well collapse" id="chat-container" style="margin-top: 2em;">
            <ul id="chat-messages">
                <li> Welcome to the chat </li>
            </ul>
        </div>
    </div>
    <!-- Chat bar. Text is entered here. Sticks to the bottom of screen -->
    <div class="collapse" id="chatrow">
        <div class="text-center">

            <!-- Actual form used to center text -->
            <form id="send-form" class="input-group" autocomplete="off">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." maxlength="128"/>
                <span class="input-group-btn">
                    <button action="submit" class="btn btn-warning btn-sm" id="send">Send</button>
                </span>
            </form>

        </div>
    </div>
</div>
