<!-- Main content container -->
<div class="container-fluid">
    <div class="row">

        <!-- Center items with columns -->
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="text-center">Information about us</h1>
            <h2 id="about">Who are you? </h2>

            <h2 id="FAQ">Frequently Asked Questions<h2>
            <h3>Why are you doing this?</h3>
            <h3>Is this for real?</h3>
            <h3>I'm confused!</h3>
            <h3>I'm offended!</h3>

            <h2 id="contact">Contact us</h2>
        </div>

    </div>
</div>
