<!-- Main content div -->
<div class="container-fluid" id="background-holder">

    <!--
        Webapp is organized into slides. Each slide is a discrete container that
        holds everything for that slide. Containers are usually set to the max
        height of the viewpoint (e.g. height: 100vh).

        The first slide is visible as it is the landing page, however subsequent
        slides are collapsed. They are shown interactively
        through javascript
    -->

    <!-- Primary information slide -->
    <div class="slide" id="slide01">
        <!-- First row displays the Hookups @ UWC Changshu China logo -->
        <div class="row">
            <div class="col-xs-16 text-center" id="logo-container">
                <a href="/">
                    <h1 class="subtitle">About <span id="main-title">Hookups💋</span></h1>
                </a>
            </div>
        </div>
        <!-- First envelope -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 envelope textbox" id="envelope01">
                <h2 id="about">What is this? </h2>
                <p>
                    <span class="logo-inline">Hookups💋</span>
                    is a simple web app developed for the purpose of hooking up.
                    Whether you have never hooked up before, or already have
                    multiple partners,
                    <span class="logo-inline">Hookups💋</span>
                    is always here to help make those new connections.
                </p>
                <p>
                    Wanna experiment? Try something new? Or just do what you know
                    you like and you're comfortable with? Whatever the type of
                    encounter,
                    <span class="logo-inline">Hookups💋</span>
                    can set you up. Simply select the options you want, and you
                    will automatically be matched with a partner of the same
                    preferences.
                </p>
            </div>
        </div>
    </div>

    <!-- Frequently asked questions -->
    <div class="slide" id="slide02">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 envelope textbox" id="envelope02">
                <h2 id="FAQ">Frequently Asked Questions<h2>
                <h3>Why are you doing this?</h3>
                <p>
                    Love is free, and should be celebrated. It can be expressed
                    in many different forms. And although hooking up is not for
                    everyone, it deserves to be acknowledged as a form of
                    intimacy. As much as this site is created for faciliating
                    hookups, it is also an experiment designed for us to
                    reevaluate our percpetions of sexuality and physical
                    intimacy.
                </p>
                <p>
                    Sexuality is one of the most fundemental aspects of the
                    human experience, and much of our society has been built
                    around our expressions of sexual attraction. Beginning from
                    the highly ritualized courtships of Medieval romances, to
                    modern dating culture - the ways we acknowledge and interact
                    with sexual relationships is changing. Is this the next
                    step? Who knows?
                </p>
                <h3>Is this for real?</h3>
                <p>
                    Yes, it is! Simply select your gender, the gender of your
                    preferred partner, and your sexual preferences. You will be
                    automatically and anonymously matched with a suitable
                    person. Give it a try!
                </p>
                <h3 id="confused">I'm confused!</h3>
                <p>
                    It's okay. This may seem like a unbelievable thing at first,
                    but trust us - it works!
                </p>
                <h3 id="offended">I'm offended!</h3>
                <p>
                    We understand that this site may enspouse views that are
                    different from others. Hookups are not for everybody, and
                    that is okay. If you wish to not see this site again, please
                    click here:
                </p>
                <a class="btn btn-default btn-md activity" href="#" role="button" id="make_out">Block this page</a>
                <p>
                    Note: This action is permanent and irreversable. This is
                    your only warning.
                </p>
            </div>
        </div>
    </div>

    <!-- Contact us -->
    <div class="slide" id="slide03">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 envelope textbox" id="envelope03">
                <h2 id="contact">Contact us</h2>
                <p>
                    Any suggestions? Thoughts? Feedback? You can contact us here.
                    Please note that due to time constraints, we may not be able
                    to respond to all feedback.
                </p>
            </div>
        </div>
    </div>


</div>
