<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{title}}</title>

        <!-- CSS Files (incl. Bootstrap) -->
        {{#each css}}
            <link rel="stylesheet" href="/css/{{this}}" type="text/css"/>
        {{/each}}

    </head>
    <body>
        <div class="failedcss">
            <h1>Error: One or more CSS files have failed to load</h1>
            <h1>
                Hookups💋 has failed to load one or more Cascading Style Sheet
                files. This issue is usually the result of a very slow or low
                quality connection. Please try reloading this page again.

                <a class="btn btn-primary" style="text-align: center" href="\">Reload</a>
            </h1>
        </div>

        <!-- In case client does not support javascript -->
        <noscript>
            <div class="envelope error-box">
                <h2 class="text-center">
                    Your browser does not support javascript
                </h2>
                <p>
                    Oh no! It looks like your browser does not support
                    javascript. Hookups💋 is a dynamic web application that
                    requires javascript in order to function.
                </p>
                <p>
                    Have you tried to upgrade to a modern browser? The latest
                    versions of Chrome, Firefox, and Safari all support
                    javascript. If you have any client-side browser extensions,
                    be sure to check they are not blocking javascript on your
                    side.
                </p>
                <p>
                    Once you've enabled javascript, click here to reload!
                </p>
                <a class="btn btn-primary" style="text-align: center" href="\">Reload</a>
            </div>
        </noscript>

        {{{body}}}

        <!-- Adds scripts for the webapp -->
        {{#each js}}
            <script src="/js/{{this}}"></script>
        {{/each}}
    </body>
</html>
