#landing-page {
    background-color: #eee;
    height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
}

#logo-box {
    padding-top: 3em;
    padding-bottom: 3em;
}

#main-title {
    font-size: 10em;
}

#button-prompt {
    padding-top: 0;
    padding-bottom: 0;
}

#button-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

#preferences {
    height: 100vh;
    padding-top: 5em;
}

#confirmation {
    background-color: #eee;
    height: 100vh;
    padding-top: 5em;
}
