#landing-page {
    background-color: #eee;
    height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
}

#logo-box {
    padding-top: 3em;
    padding-bottom: 3em;
}

.subtitle {
   font-family: 'DancingScriptBold';
   font-weight: normal;
   font-style: normal;
   font-size: 3em;
}

#main-title {
    font-family: 'StratoLinked';
    font-weight: normal;
    font-style: normal;
    font-size: 9em;

    margin-top: 0.5em;
    margin-bottom: 0.4em;
}

#button-prompt {
    padding-top: 0;
    padding-bottom: 0;
}

#button-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

#preferences {
    height: 100vh;
    padding-top: 5em;
}

#confirmation {
    background-color: #eee;
    height: 100vh;
    padding-top: 5em;
}
