/*
    Client-side chat interface styling. We are trying to replicate a chat
    experience that is as similar as possible to Facebook Messenger's UI.
    Bubbles are styled through Javascript, because backward selectors don't exist
*/

/*
    General overview of styling:

    The HTML chat structure is contained entirely in #slide03, which also serves
    as the loading screen. When a match is made, the loading element
    (#loading-screen) is destroyed, and the two chat elements (#chat-container
    and #chatrow) are revealed.

    #chat-container is a generic holder that aligns, centers, and holds the chat
    messages (held in a ul called #chat-messages), and is 79.5vh tall. The text
    box for submitting text is held in the #chatrow div that comes immediately
    after, which is about 20.5vh tall.
*/

#slide03 {
    padding-top: 0;
    height:100vh;
}

/* Loading elements (that will be destroyed) */

#loading-screen {
    padding-top: 5em;
}

/*
    Chat loading
    Uses fancy keyframes to create a dynamic loading interface that goes:
    dot, dot dot, dot dot dot, and so on ;)
*/
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: white;
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
}

/* Begin styling for chat elements */

#chat-container {
    height: 92vh;
    overflow-y: auto;
    overflow: hidden;
}

/* Special CSS magic wizardry used to align bubbles to the bottom. */
#chat-container:after {
    content:'';
    font-size:0;
    height:100%;
    vertical-align:middle;
    display:inline-block;
}

/*
    Chat message bubble styling:

    Messages are recieved from the server in the form of <li> elements, with the
    class .self-message for those sent by the client, and .other-message for
    those recieved.

    These messages are stored in the <ul> element #chat-messages, which the
    appropriate styling.
*/
#chat-messages {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style:none;
    vertical-align:bottom;
    display: inline-block;
    width: 99%;
}

#chat-messages li {
    display:inline-block;
    clear: both;
    padding: 0.3em 0.5em 0.5em 0.5em;
    border-radius: 14px;
    margin-bottom: 2px;
    max-width: 70%;
    word-wrap: break-word;
    line-height: 1.4em;
}

/*
    Styling self and other chat bubbles:

    Chat bubbles are designed to have differently shaped corners depending on
    how they stack up. This is done purely through CSS via the usage of pseudo-
    selectors.
*/

/* Common styles for chat bubbles */
.other-message {
    background: #eee;
    float: left;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.self-message {
    float: right;
    color: #fff;
    background: #db0000;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Specific for .self-message bubbles */
.self-message-top {
    border-bottom-right-radius: 5px !important;
}
.self-message-med {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.self-message-low {
    border-top-right-radius: 5px !important;
}

/* Specific for .other-message bubbles */
.other-message-top {
    border-bottom-left-radius: 5px !important;
}
.other-message-med {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.other-message-low {
    border-top-left-radius: 5px !important;
    margin-bottom: 1em;
}

/*
    Chat entry bar styling:

    Finally, last but definitely not least, the box where the user enters text.
*/

#chatrow div {
    height: 6vh;
}

#send-form {
    margin: 0 1em;
}
