/*
    The #background-holder ID is used only once, and serves as the container
    where all the slides live on. Every element on the Webapp is in a container,
    which is a direct child of the background-holder container-fluid
*/

body {
    background-color: #0f161d;
}

#background-holder.container-fluid {
    /* Begin background-image settings */
    /* background: url(/img/background.jpg) no-repeat center center fixed; */
    background-color: #0f161d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*  Slide class is used to standardize slide appearance, and set max viewport */
.container-fluid .slide {
    height: 100vh;
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

/*
    The .envelope class is used to create the style and background for the cards
    that display text and prompts to the user. It's common attributes are first
    defined here, then it's height is dynamically given through media queries.
*/
/*  Begin with defining common styles */
.envelope {
    background-color: #FFF;
    border:2px dashed #db0000;
    border-width:2px;
    border-style:dashed;
    border-color:#db0000;
}

/* Logo link styling */
#logo-containe a:link {
    text-decoration: none;
}

#logo-containe a:visited {
    text-decoration: none;
}

#logo-containe a:hover {
    text-decoration: none;
}

#logo-containe a:active {
    text-decoration: none;
}


/*
    Mobile collapsing class
    The mobile collapsing class is a custom utility class that is designed to
    hide any div assigned to it below a certain screen size
*/
.collapse-non-sm {
    height: 0;
    display: none;
}
.collapse-non-sm.collapsing {
    display: block;
}

@media (min-width: 568px) {
    .collapse-non-sm {
        height: auto;
        display: block;
    }
}
