/*
    Custom styling for 404 and error pages.
    Rather sparse, since most of the styling is taken care of in common.css
*/

/* Change text size dynamically using css media queries */
@media(max-width:767px){
    .subtitle {
       font-size: 3em;
    }
}
@media(min-width:768px){
    .subtitle {
       font-size: 4em;
    }
}
@media(min-width:992px){
    .subtitle {
       font-size: 4em;
    }
}
@media(min-width:1200px){
    .subtitle {
       font-size: 5em;
    }
}

/*
    The .textbox class is used to create an appropriate level of margin, and
    line spacing for large amounts of text. Also contains any other misc.
    typographical improvements
*/
.textbox {
    font-size: 1.2em;
    padding: 0 2.5em !important;
    line-height: 180%;
}
