/*
    Custom styling for index.hbs. Note that most styles, including that of the
    logo, have been outlined to common.css
*/
#welcome-to {
    margin: 0;
}

#at-uwc-changshu-china {
    margin: 0;
}

#loading-title {
    /* Makes sure logo does not protude during loading */
    margin-top: 0.5em;
}

@media(max-width:767px){
    .subtitle {
        font-size: 2em;
    }
    .main-title {
        /* When device screen size is tiny prevent .main-title from protuding */
        margin-top: 0.4em;
        font-size: 3.5em;
    }
    .prompt-text {
        font-size: 150%;
    }
}
@media(min-width:768px){
    .subtitle {
        font-size: 3em;
    }
    .main-title {
        font-size: 5em;
    }
    .prompt-text {
        font-size: 150%;
    }
}
@media(min-width:992px){
    .subtitle {
        font-size: 3em;
    }
    .main-title {
        font-size: 7em;
    }
    .prompt-text {
        font-size: 190%;
    }
}
@media(min-width:1200px){
    .subtitle {
        font-size: 3em;
    }
    .main-title {
        font-size: 7em;
    }
    .prompt-text {
        font-size: 190%;
    }
}

/*
    Styles for the first slide are modified from the base class, since the
    landing page needs specific padding requirements.
*/
#slide01 {
    padding-top: 2em !important;
}

#slide01 #logo-container {
    margin-bottom: 2em;
}

/*
    Styling for the 'how it works' section of the landing page. Resizes the
    SVGs and defines custom sizes for the text.
*/
#how-it-works svg {
    width: 60%;
}

#how-it-works h3 {
    font-family: 'DancingScriptBold', "Arial Black", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #FFF;
}

#how-it-works p {
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #FFF;
}

/*
    #activity-description contains a short, rich text summary of what each
    activity is for. This is displayed onhover();
*/
#activity-description {
    text-shadow: 0 0 0;
    font-weight: normal;
    color: #286090;
}

/*
    Styles the footer with FAQ and Info links. Custom padding, text-shadow,
    and link styles are implemented here.
*/
#footer a {
    margin-top: 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}

/*
    Misc styling for various hints, popups, and links.
*/
.hints {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: normal;
    color: #ec971f;
    margin-top: 1em;
    margin-bottom: 3em;
}

#reset-choices {
    font-size: 0.9em;
    color: #777;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    /* This gets all the checkboxes to align in the consent-checker */
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.queue {
    font-family: 'StratoLinked', "Brush Script MT", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #db0000;
    margin-top: 0;
    margin-bottom: 0;
}
