/*
    The #main-title, .subtitle, and #logo-container are all styled in accordence
    with the device's display width. Using media queries, this allows the logo
    to break and resize appropriately, making it responsive.
*/
/* Begin with defining common styles */
#slide01 #logo-container {
    padding-bottom: 4em;
}
.subtitle {
   font-family: 'DancingScriptBold', "Arial Black", sans-serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
   color: #FFF;
}

#main-title {
    font-family: 'StratoLinked', "Brush Script MT", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #db0000;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
}

/* Change text size dynamically using css media queries */
@media(max-width:767px){
    .subtitle {
       font-size: 2em;
    }
    #main-title {
        font-size: 3.5em;
    }
    .prompt-text {
        font-size: 150%;
    }
}
@media(min-width:768px){
    .subtitle {
       font-size: 3em;
    }
    #main-title {
        font-size: 5em;
    }
    .prompt-text {
        font-size: 150%;
    }
}
@media(min-width:992px){
    .subtitle {
       font-size: 3em;
    }
    #main-title {
        font-size: 7em;
    }
    .prompt-text {
        font-size: 190%;
    }
}
@media(min-width:1200px){
    .subtitle {
       font-size: 3em;
    }
    #main-title {
        font-size: 7em;
    }
    .prompt-text {
        font-size: 190%;
    }
}

/*  #envelope01 breaking and rotation styles */
#envelope01.envelope {
    transform: rotate(1deg);
}
@media(max-width:355px){
    #envelope01.envelope {
        height: 18em;
    }
}
@media(min-width:356px){
    #envelope01.envelope {
        height: 15em;
    }
}
@media(min-width:479px){
    #envelope01.envelope {
        height: 13em;
    }
}
@media(min-width:538px){
    #envelope01.envelope {
        height: 10em;
    }
}
@media(min-width:992px){
    #envelope01.envelope {
        height: 10em;
    }
}
@media(min-width:1200px){
    #envelope01.envelope {
        height: 10em;
    }
}

/* #envelope02 breaking and rotation styles */
#envelope02.envelope {
    transform: rotate(-0.8deg);
}
@media(max-width:409px){
    #envelope02.envelope {
        height: 18em;
    }
}

@media(min-width:410px){
    #envelope02.envelope {
        height: 16em;
    }
}

@media(min-width:444px){
    #envelope02.envelope {
        height: 13em;
    }
}

/* #envelope03 breaking and rotation styles */
/* Final envelope media-query wrapping */
#envelope03.envelope {
    transform: rotate(1deg);
}
@media(max-width:432px){
    #envelope03.envelope {
        height: 12.5em;
    }
}
@media(min-width:433px){
    #envelope03.envelope {
        height: 11.5em;
    }
}
@media(min-width:991px){
    #envelope03.envelope {
        height: 12.5em;
    }
}

/*
    Chat loading
    Uses fancy keyframes to create a dynamic loading interface that goes:
    dot, dot dot, dot dot dot, and so on ;)
*/
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: white;
        text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
}

/*
    Chat styling
*/
#slide03 {
    height:100vh;
}

#chat-container {
    height: 20em;
}

#chat-messages li {
    list-style: none;
}

#chatrow div {
    height: 6vh;
}

#send-form {
    margin: 0 1em;
}

/*
    Minimalistic footer styling. Essentially just centers the text and makes
    the <a> links slightly prettier. Note: the footer is slightly rotated to
    make it look good with the rotated envelope on top of it
*/
#footer {
    transform: rotate(1deg);
    margin-top: 1em;
}

#footer a {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}

/*
    Styling for various hints and popups.
*/
.hints {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: normal;
    color: #ec971f;
}

#more-activities-hint {
    /* Rotation for it to match up and look nice */
    transform: rotate(-0.8deg);
    margin-top: 1em;
}

#missing-activity-hint {
    /* Rotation for it to match up and look nice */
    transform: rotate(1deg);
    margin-top: 1em;
}

/* Reset button for choices */
#reset-choices {
    font-size: 0.9em;
    color: #777;
}
