/*
    The #main-title and .subtitle are all styled in accordence with the device's
    display width. Using media queries, this allows the logo to break and resize
     appropriately, making it responsive. Inline logo styles also defined
*/

/*  Slide class is used to standardize slide appearance, and set max viewport */
.container-fluid .slide {
    height: auto !important;
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

.subtitle {
    font-family: 'DancingScriptBold', "Arial Black", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #FFF;
    margin-bottom: 1em;
}

#main-title {
    font-family: 'StratoLinked', "Brush Script MT", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: #db0000;
}

.logo-inline {
    font-family: 'StratoLinked';
    font-weight: normal;
    font-style: normal;
    color: #db0000;
}

.trademark-inline {
    font-family: 'DancingScriptBold';
    font-weight: normal;
    font-style: normal;
}

/* Change text size dynamically using css media queries */
@media(max-width:767px){
    .subtitle {
       font-size: 3em;
    }
}
@media(min-width:768px){
    .subtitle {
       font-size: 4em;
    }
}
@media(min-width:992px){
    .subtitle {
       font-size: 4em;
    }
}
@media(min-width:1200px){
    .subtitle {
       font-size: 5em;
    }
}

/*  #envelope01 breaking and rotation styles */
#envelope01.envelope {
    transform: rotate(0.5deg);
    margin-bottom: 2em;
}

/*  #envelope02 breaking and rotation styles */
#envelope02.envelope {
    margin-bottom: 1em;
}

#envelope03.envelope {
    transform: rotate(-0.8deg);
    margin-bottom: 1em;
}

/*
    The .textbox class is used to create an appropriate level of margin, and
    line spacing for large amounts of text. Also contains any other misc.
    typographical improvements
*/
.textbox {
    font-size: 1.2em;
    padding: 0 2.5em !important;
    line-height: 180%;
}
