/*
    Custom media-queries to make the hookups logo extra large.
    Do not remove, this is individual and NOT outlined to common.css
*/
.subtitle {
    /* shitty override hack to fix subtitle margin visual regression */
    margin: 0 0 10px 0 !important;
}

@media(max-width:767px){
    .subtitle {
        font-size: 2em;
    }
    .main-title {
        /* When device screen size is tiny prevent .main-title from protuding */
        margin-top: 0.4em;
        font-size: 3.5em;
    }
    .prompt-text {
        font-size: 150%;
    }
}
@media(min-width:768px){
    .subtitle {
        font-size: 3em;
    }
    .main-title {
        font-size: 5em;
    }
    .prompt-text {
        font-size: 150%;
    }
}
@media(min-width:992px){
    .subtitle {
        font-size: 3em;
    }
    .main-title {
        font-size: 7em;
    }
    .prompt-text {
        font-size: 190%;
    }
}
@media(min-width:1200px){
    .subtitle {
        font-size: 3em;
    }
    .main-title {
        font-size: 7em;
    }
    .prompt-text {
        font-size: 190%;
    }
}

/*
    Styling for the heartbeats counter
    Uses media queries to ensure correct size.
*/
#heartbeats {
    transition: all linear 0.3s;
}

@media(max-width:767px){
    #heartbeats {
        font-size: 3.5em;
    }
}
@media(min-width:768px){
    #heartbeats {
        font-size: 4em;
    }
}
@media(min-width:992px){
    #heartbeats {
        font-size: 4em;
    }
}
@media(min-width:1200px){
    #heartbeats {
        font-size: 4em;
    }
}
